body{
    background-color: rgb(54, 54, 54);
}

button{
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

header{
    padding: 10px;
}

header div{
    color: white;
    display: flex;
    align-items: center;
}

.topo-site{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

